<h2>Add a Maker</h2>

<form action = "/makers" method = "post">
    <label>First Name</label>
    <p><input type="text" name="maker[first_name]"></input></p>
    <label>Last Name</label>
    <p><input type="text" name="maker[last_name]"></input></p>
    <label>Email</label>
    <p><input type="text" name="maker[email]"></input></p>
    <label>Image</label>
    <p><input type="text" name="maker[image_url]"></input></p>
    <p><input type="submit"/></p>
</form>